@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf")
    format("truetype");
  font-weight: 100 900;
}

:root {
  --hsl-grey-700: hsl(0, 0%, 20%);
  --hsl-grey-800: hsl(0, 0%, 12%);
  --hsl-grey-900: hsl(0, 0%, 8%);
  --hsl-neutral-color: hsl(0, 0%, 100%);
  --hsl-location-color: hsl(75, 94%, 57%);
  --border-radius: 1rem;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
}
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  background-color: var(--hsl-grey-900);
  color: var(--hsl-neutral-color);
  font-family: "Inter";
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 27vw;
  height: 42vw;
  padding: 2rem 1rem;
  justify-content: center;
  background-color: var(--hsl-grey-800);
  border-radius: var(--border-radius);
}

p[data-spacing="small-spacing"] {
  margin-top: -1rem;
}

img {
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  align-self: center;
}

.socials {
  padding: 1rem;
  border: 1px solid var(--hsl-grey-700);
  background-color: var(--hsl-grey-700);
  margin-inline: 1rem;
  border-radius: calc(0.5 * var(--border-radius));
  font-weight: var(--font-weight-700);
  color: var(--hsl-neutral-color);
  text-decoration: none;
}

.socials:hover {
  background-color: var(--hsl-location-color);
}

.tag {
  letter-spacing: 1px;
  font-weight: 100;
}

.location {
  color: var(--hsl-location-color);
  font-weight: var(--font-weight-700);
}
